body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}

ul{
    list-style: none;
}
ul li{
    display: inline;
    padding: 0.5rem;
}
ul li a{
    color:white;
    text-decoration:none;
        
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
section{
   background-color: rgb(213, 56, 179); 
   padding: 0.5rem;
   border-radius: 3px;
   margin-top: 1px;

}


footer{
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
}
